*{
    margin: 0;
    padding: 0;
}

.nav_bar {
    display: flex;
    background-color: lightskyblue;
    width: 20%;
    height: 50px;
    position: fixed;
    flex-wrap: wrap;
    justify-content: space-evenly;
    animation-name: nav;
    animation-duration: 1.5s;
    animation-direction: forwards;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

}


.links a {
    flex: 1;
    padding: 100px;
}

@keyframes nav {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateX(0); width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .nav_bar {
        background-color: lightgrey;
    }
}
