.parent {
    width: 500px;
    height: 100%;
    background-color: grey;
}

.img {
    position: absolute;
    top: 40px;
    animation-name: go;
    animation-fill-mode: infinite; 
    animation-play-state: running;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

img {
    height: auto;
    width: 500px;
}

@keyframes go {
    0%{
        transform: translatey(0);
    }
    100%{
        transform: translatey(500px);
    }
} 
